<% if !@genre_id.nil? && @search_result['page'] <= @search_result['total_pages'] && @search_result["total_results"] != 0 %>
	<h2>Showing the best <i><%= @genre %></i> movies: </h2>
	<p><i>Total results: <%= @search_result['total_results'] %></i></p>
	<table class="table table-striped">
		<thead class="thead-inverse">
			<tr style="text-align:center;">
				<th class="text-center">#</th>
				<th class="text-center">Year</th>
				<th class="text-center">Poster</th>
				<th class="text-center">Title</th>
				<th class="text-center">Rating</th>
				<th class="text-center">Genres</th>
				<th class="text-center">Plot</th>
			</tr>
		</thead>
		<tbody>
			<% i = 1 %>
			<% @movies.each do |movie| %>
				<tr style="text-align:center;">
					<td class="align-middle"><%= i + @movies_per_page * (@page - 1) %></td>
					<td class="align-middle"><%= movie['release_date'].split('-')[0] %></td>
					<td class="align-middle"><img src=<%= "https://image.tmdb.org/t/p/w640#{movie['poster_path']}" %> class="effectscale" /></td>
					<td class="align-middle" style="font-weight: bold;"><%= movie['title'] %></td>
					<td class="align-middle"><%= movie['vote_average'] %>
						<div style="font-size:0px">
							<% ((movie['vote_average'] / 2) + 1).to_i.times do %>
								<img src="<%= asset_path('star2.png') %>" class="star" />
							<% end %>
						</div>
					</td>
					<td class="align-middle">
						<% movie['genre_ids'].map{ |id| @id_to_genre[id] }.each do |genre| %>
							<%= genre %><br/>
						<% end %>
					</td>
					<td class="align-middle" style="text-align:justify;"><%= movie['overview'] %></td>
					<% i += 1 %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<table class="pages">
		<tr align="center">
			<% if @page != 1 %>
				<td><%= link_to 'First', url_for(genre: @genre, page: 1 ) %></td>
				<td><%= link_to 'Previous', url_for(genre: @genre, page: @page - 1 ) %></td>
			<% end %>
			<td>Page <%= @page %> of <%= @search_result['total_pages'] %></td>
			<% if @page != @search_result['total_pages'] %>
				<td><%= link_to 'Next', url_for(genre: @genre, page: @page + 1 ) %></td>
				<td><%= link_to 'Last', url_for(genre: @genre, page: @search_result['total_pages'] ) %></td>
			<% end %>
		</tr>
	</table>
<% elsif @genre_id.nil? || @search_result["total_results"] == 0 %>
	<h2>Sorry, there was no results for the genre <i><%= @genre %></i>. Try again!</h2>
<% else %>
	<h2>Sorry, this page doesn't exist. Try again!</h2>
<% end %>
<h5>Do you want to search for another genre?</h5>
<form action="/movies/search" method="get")>
    <%= select_tag 'genre', options_for_select( @genres) %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary"%>
</form>