<!DOCTYPE html>
<html>
  <head>
    <title>MoviesByGenre</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
    <table style="border:none;display:inline-block;">
      <tr>
      <td class="align-middle"><img src="<%= asset_path('cinema.png') %>"/ style="height: 125px" /></td>
      <td class="align-middle"><h1>MoviesByGenre</h1></td>
      </tr>
    </table>
    </div>
    
    <div class="content">
    <%= yield %>
    
    <div style="text-align: right;">
      <h5><i>Developed by <a href="https://github.com/gabrieloliveiragom" target="_blank">Gabriel Oliveira Martins</a></i></h5>
      <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
      <img src="<%= asset_path('293x302-powered-by-square-green.png') %>"/ style="width:60px">
    </div>
    </div>
  </body>
</html>
