<!DOCTYPE html>
<html>
  <head>
    <title>BestMoviesByGenre</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table style="border:none;" align="center">
      <td><img src="<%= asset_path('cinema.png') %>"/ style="height: 125px" /></td>
      <td><h1>BestMoviesByGenre</h1></td>
    </table>
    <%= yield %>
    <h4><i>Developed by <a href="https://github.com/gabrieloliveiragom" target="_blank">Gabriel Oliveira Martins</a>.</i></h4>
    <p><i>This product uses the TMDb API but is not endorsed or certified by TMDb.</i></p>
    <img src="<%= asset_path('293x302-powered-by-square-green.png') %>"/ style="width:60px">
  </body>
</html>
